<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
       <!--  <img src="@/assets/logo.png" alt="Vuetify.js" class="mb-5"> -->
        <!-- <blockquote>
          dlightning front
          <footer>
            <small>
              <em>&mdash;John Johnson</em>
            </small>
          </footer>
        </blockquote> -->
<!--- stepper -->
   <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Bitcoin</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">Ligthning Network</v-stepper-step>

      <!-- <v-divider></v-divider>

      <v-stepper-step step="3">Name of step 3</v-stepper-step> -->
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
      <!--   <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card> -->
<!--- form -->
      <v-form v-model="valid">
    <v-text-field
      v-model="name"
      :rules="nameRules"
      :counter="10"
      label="Name"
      required
    ></v-text-field>
    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="Password"
      required
    ></v-text-field>
  </v-form>
      <!--- END form-->
        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <!-- <v-stepper-content step="3">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content> -->
    </v-stepper-items>
  </v-stepper>
  <!--- END stepper -->

  <!--- button -->
     <!--    <v-btn color="info">
      Aceptar
      <span slot="loader" class="custom-loader">
        <v-icon light>cached</v-icon>
      </span>
    </v-btn> -->
    <!--- END button -->


      </v-layout>
    </v-slide-y-transition>

    
  </v-container>
</template>

<script>
// import _ from 'lodash';
// import bitauth from 'bitauth';
import { generateSin, getPublicKeyFromPrivateKey, sign } from "bitauth";
import request from "request";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  created() {
  const wallet = require("../../static/wallet.json")
  // eslint-disable-next-line
  console.log('a', wallet.alice)

    /* var keys = {
      alice: "38f93bdda21a5c4a7bae4eb75bb7811cbc3eb627176805c1009ff2099263c6ad",
      bob: "09880c962437080d72f72c8c63a69efd65d086c9e7851a87b76373eb6ce9aab5"
    }; */
    // console.log(_.isEmpty() ? 'Lodash is available here!' : 'Uh oh..');
    // eslint-disable-next-line
    console.log("bitauth", generateSin());
    // GET
    for (let k in wallet) {
      var url = "http://localhost:3000/login";
      var dataToSign = url;
      var options = {
        url: url,
        headers: {
          "x-identity": getPublicKeyFromPrivateKey(wallet[k]),
          "x-signature": sign(dataToSign, wallet[k])
        }
      };

      request.get(options, function(err, resp, body) {
        if (err) {
          // eslint-disable-next-line
          console.log("error", err);
          // redirect login
        }
        if (body) {
          // eslint-disable-next-line
          console.log(`Logged as ${body}. Welcome!`);
          // return true;
          // redirect 
        }
      });
    }
  },
  data() {
    return {
      e1: 0,
      valid: false,
      name: "",
      nameRules: [
        v => !!v || "RPC user is required",
        v => v.length <= 10 || "Name must be less than 10 characters"
      ],
      email: "",
      emailRules: [
        v => !!v || "RPC password is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ]
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
